:root {
  --max-width: 1100px;
  --navbar-height: 80px;
  --navbar-height-mobile: 60px;


  --primary-color: #FFFDED;
  --secondary-color: #3A5A40;
  --alternative-color: #E0CDAF;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
 background: var(--primary-color);
 color: var(--secondary-color);
 min-height: 100vh;
}
button {
  all: unset;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
}
main {
  padding-top: 60px;
}

.lang-btn {
  transition: all ease .3s;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  opacity: 1;
}
.lang-btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}

.btn {
  background-color: var(--secondary-color);
  color: white;
  height: 50px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease .3s;
}
.btn:hover {
  opacity: .8;
}
.btn--outline {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.btn--outline:hover {
  background-color: var(--secondary-color);
  color: white;
  opacity: 1;
}
.navbar-wrapper {
  position: fixed;
  height: var(--navbar-height);
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: all ease .5s;
}
.navbar-wrapper.with-background {
  background-color: var(--primary-color);
}
.navbar {
  width: 100vw;
  max-width: var(--max-width);
  display: flex;
  padding: 12px;
  margin: 0 auto;
}
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar-logo__text {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: auto;
}
.navbar-menu__item {
  text-transform: uppercase;
  font-size: 18px;
  list-style-type: none;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  transition: all ease .3s;
}
.navbar-menu__item:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar__menu-button {
  display: none;
}

.navbar-separator {
  height: 30px;
  margin: auto;
  border-right: 1px solid var(--secondary-color);
}

@media(max-width: 600px) {
  .navbar-separator {
    height: 0;
    width: 60%;
    margin: 0;
    border-top: 1px solid var(--secondary-color);
  }
  .navbar-wrapper {
    height: var(--navbar-height-mobile);
  }
  .navbar-logo__image {
    width: 100px;
    height: 40px;
  }
  .navbar-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#E0CDAF, #E5DDC8);
    height: 100vh;
    width: 100vw;
    top: 0;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: all ease 0.5s;
    transform: translateX(100%); 
  }
  .navbar-menu.show {
    transform: translateX(0); 
  }
  .navbar__menu-button {
    display: flex;
    width: 25px;
    height: 15px;
    position: relative;
    margin: auto 30px auto 0;
    cursor: pointer; 
    margin-left: auto;
  }
  .navbar__menu-button:before {
    content: "";
    width: 100%;
    height: 3px;
    background: #000000;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(0); 
  }
  .navbar__menu-button:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #000000;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(0); 
  }
  .navbar__menu-button.close:before {
    transform: rotate(45deg);
    bottom: 5px;
  }
  .navbar__menu-button.close:after {
    transform: rotate(-45deg);
    top: 7px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  opacity: .85;
}
